<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fish.manager.user.mapper.SysUserMapper">
    <resultMap id="ResultMap" type="com.fish.manager.user.entity.SysUser">
        <id property="id" column="RWID" jdbcType="VARCHAR" />
        <result property="loginAcct" column="LOGIN_ACCT" jdbcType="VARCHAR" />
        <result property="loginPwd" column="LOGIN_PWD" jdbcType="VARCHAR" />
        <result property="userName" column="USER_NAME" jdbcType="VARCHAR" />
        <result property="email" column="email" jdbcType="VARCHAR" />
        <result property="mobile" column="mobile" jdbcType="VARCHAR" />
        <result property="status" column="status" jdbcType="DECIMAL" />
        <result property="isLock" column="IS_LOCK" jdbcType="DECIMAL" />
        <result property="lockType" column="LOCK_TYPE" jdbcType="DECIMAL" />
        <result property="lockTime" column="LOCK_TIME" jdbcType="TIMESTAMP" />
        <result property="orgId" column="ORG_ID" jdbcType="VARCHAR" />
        <result property="orgName" column="ORG_NAME" jdbcType="VARCHAR" />
        <result property="areaId" column="SYS_AREA_ID" jdbcType="VARCHAR" />
        <result property="areaName" column="SYS_AREA_NAME" jdbcType="VARCHAR" />
        <result property="theme" column="THEME" jdbcType="VARCHAR" />
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="modifyUserId" column="modify_user_id" jdbcType="VARCHAR" />
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP" />
        <!-- 角色ID的关联查询 -->
        <collection property="roleIdList" select="selectRoleIdByUserId" column="id"/>
    </resultMap>

    <sql id="selectCols">
        SELECT  T.RWID,
                T.LOGIN_ACCT,
                T.LOGIN_PWD,
                T.USER_NAME,
                T.EMAIL,
                T.MOBILE,
                T.STATUS,
                T.IS_LOCK,
                T.LOCK_TYPE,
                T.LOCK_TIME,
                T.ORG_ID,
                SO.ORG_NAME AS ORG_NAME,
                T.AREA_ID AS SYS_AREA_ID,
                SA.AREA_NAME AS SYS_AREA_NAME,
                T.THEME,
                T.CREATE_USER_ID,
                T.CREATE_TIME,
                T.MODIFY_USER_ID,
                T.MODIFY_TIME
           FROM SYS_USER T
           LEFT JOIN SYS_ORGANIZE SO ON SO.RWID = T.ORG_ID 
           LEFT JOIN SYS_AREA SA ON SA.RWID = T.AREA_ID 
    </sql>
    <sql id="queryWhere">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(createUserId)">
                AND T.create_user_id = #{createUserId}
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(loginAcct)">
                AND T.login_acct=#{loginAcct,jdbcType=VARCHAR}
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(userName)">
                and t.USER_NAME like concat('%',#{userName},'%')
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(mobile)">
                and t.MOBILE like concat('%',#{mobile},'%')
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(email)">
                and t.EMAIL like concat('%',#{email},'%')
            </if>
            <!-- 根据角色ID，查询用户信息 -->
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(roleId)">
                AND EXISTS (SELECT 1 FROM SYS_USER_ROLE R WHERE R.USER_ID = T.RWID AND R.ROLE_ID = #{roleId})
            </if>
        </trim>
    </sql>
    <select id="selectByKey" parameterType="java.lang.String" resultMap="ResultMap">
        <include refid="selectCols" /> WHERE T.RWID = #{value,jdbcType=VARCHAR}
    </select>
    <select id="selectByLoginAcct" parameterType="java.lang.String" resultMap="ResultMap">
        <include refid="selectCols"/> WHERE T.LOGIN_ACCT = #{value,jdbcType=VARCHAR}
    </select>
    <select id="selectList" parameterType="com.fish.core.common.QueryParam" resultMap="ResultMap">
        <include refid="selectCols" />
        <include refid="queryWhere" />
        <choose>
            <when test="@com.fish.core.utils.OgnlUtils@isNotEmpty(sidx)">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                ORDER BY CREATE_TIME DESC
            </otherwise>
        </choose>
    </select>
 
    <insert id="insert" parameterType="com.fish.manager.user.entity.SysUser">
        insert into sys_user
        (RWID,LOGIN_ACCT,LOGIN_PWD,USER_NAME,EMAIL,MOBILE,ORG_ID,AREA_ID,THEME,STATUS,IS_LOCK,CREATE_USER_ID,CREATE_TIME)
        values (
        #{id,jdbcType=VARCHAR},
        #{loginAcct,jdbcType=VARCHAR},
        #{loginPwd,jdbcType=VARCHAR},
        #{userName,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},
        #{mobile,jdbcType=VARCHAR},
        #{orgId,jdbcType=VARCHAR},
        #{areaId,jdbcType=VARCHAR},
        #{theme,jdbcType=VARCHAR},
        #{status,jdbcType=DECIMAL},
        #{isLock,jdbcType=DECIMAL},
        #{createUserId,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP} )
    </insert>
    <update id="update" parameterType="com.fish.manager.user.entity.SysUser">
        UPDATE SYS_USER
        <trim prefix="SET" suffixOverrides=",">
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(loginAcct)">
                LOGIN_ACCT = #{loginAcct,jdbcType=VARCHAR},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(loginPwd)">
                login_pwd = #{loginPwd,jdbcType=VARCHAR},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(userName)">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(email)">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(mobile)">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(theme)">
                theme = #{MOBILE,jdbcType=VARCHAR},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(status)">
                status = #{status,jdbcType=DECIMAL},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(isLock)">
                IS_LOCK = #{isLock,jdbcType=DECIMAL},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(lockType)">
                LOCK_TYPE = #{lockType,jdbcType=DECIMAL},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(lockTime)">
                LOCK_TIME = #{lockTime,jdbcType=TIMESTAMP},
            </if>
            MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
            MODIFY_Time = #{modifyTime,jdbcType=TIMESTAMP},
        </trim>
        WHERE RWID = #{id,jdbcType=VARCHAR}
    </update>
    <!-- 加锁/解锁 -->
    <update id="updateUserLock" parameterType="com.fish.manager.user.entity.SysUser">
        UPDATE SYS_USER
        <trim prefix="SET" suffixOverrides=",">
            IS_LOCK = #{isLock,jdbcType=DECIMAL},
            LOCK_TYPE = #{lockType,jdbcType=DECIMAL},
            LOCK_TIME = #{lockTime,jdbcType=TIMESTAMP},
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(modifyUserId)">
                MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="@com.fish.core.utils.OgnlUtils@isNotEmpty(modifyTime)">
               MODIFY_Time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
         WHERE RWID = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM SYS_USER WHERE RWID = #{rwid}
    </delete>
    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM SYS_USER WHERE RWID IN
        <foreach item="userId" collection="list" open="(" separator="," close=")">
            #{userId,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <!-- 新增/编辑用户信息，插入用户与角色的关系 -->
    <insert id="insertBatchUserRole" parameterType="com.fish.manager.user.entity.SysUser">
        INSERT INTO SYS_USER_ROLE (RWID,USER_ID,ROLE_ID) VALUES
        <foreach collection="roleIdList" item="roleid" index="index" separator=",">
            (upper(replace(uuid(),'-','')),#{id,jdbcType=VARCHAR},#{roleid,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <!-- 根据用户ID标识，删除用户的角色关系 -->
    <delete id="deleteUserRoleBatch" parameterType="java.util.List">
        DELETE FROM SYS_USER_ROLE WHERE USER_ID IN
        <foreach item="userId" collection="list" open="(" separator="," close=")">
            #{userId,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <!-- 根据用户RWID 标识，删除用户的角色关系  -->
    <delete id="deleteUserRole" parameterType="java.lang.String">
    	DELETE FROM SYS_USER_ROLE WHERE USER_ID=#{v,jdbcType=VARCHAR}
    </delete>
    
    <!-- 关联查询角色ID -->
    <select id="selectRoleIdByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT ROLE_ID FROM SYS_USER_ROLE WHERE USER_ID = #{id,jdbcType=VARCHAR}
    </select>
</mapper>