<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsoft.core.org.mapper.SysOrganizeMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.fsoft.core.org.entity.SysOrganize" id="orgMap">
        <id property="rwid" column="RWID" jdbcType="VARCHAR" />
        <result property="orgCode" column="ORG_CODE" jdbcType="VARCHAR" />
        <result property="orgName" column="ORG_NAME" jdbcType="VARCHAR" />
        <result property="parentOrgId" column="PARENT_ORG_ID" jdbcType="VARCHAR" />
        <result property="parentOrgCode" column="PARENT_ORG_CODE" jdbcType="VARCHAR" />
        <result property="parentOrgName" column="PARENT_ORG_NAME" jdbcType="VARCHAR" />
        <result property="parentOrgs" column="PARENT_ORGS" />
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="modifyUserId" column="modify_user_id" jdbcType="VARCHAR" />
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP" />
    </resultMap>
    <insert id="insert" parameterType="com.fsoft.core.org.entity.SysOrganize">
        INSERT INTO SYS_ORGANIZE (RWID,ORG_CODE,ORG_NAME,PARENT_ORG_ID,PARENT_ORGS,CREATE_USER_ID,CREATE_TIME)
        VALUES(
        #{rwid,jdbcType=VARCHAR},
        #{orgCode,jdbcType=VARCHAR},
        #{orgName,jdbcType=VARCHAR},
        #{parentOrgId,jdbcType=VARCHAR},
        #{parentOrgs,jdbcType=VARCHAR},
        #{createUserId,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <sql id="selectCols">
        SELECT T.RWID,
               T.ORG_CODE,
               T.ORG_NAME,
               T.PARENT_ORG_ID,
               T.PARENT_ORGS,
               P.ORG_CODE AS PARENT_ORG_CODE,
               P.ORG_NAME AS PARENT_ORG_NAME,
               T.CREATE_USER_ID,
               T.CREATE_TIME,
               T.MODIFY_USER_ID,
               T.MODIFY_TIME
          FROM SYS_ORGANIZE T
          LEFT JOIN SYS_ORGANIZE P ON P.RWID = T.PARENT_ORG_ID
    </sql>
    <sql id="queryWhere">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(orgCode)">
                AND T.ORG_CODE LIKE concat('%',concat(#{orgCode,jdbcType=VARCHAR},'%'))
            </if>
            <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(orgName)">
                AND T.ORG_NAME LIKE concat('%',concat(#{orgName,jdbcType=VARCHAR},'%'))
            </if>
            <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parentOrgId)">
                AND T.PARENT_ORG_ID=#{parentOrgId,jdbcType=VARCHAR}
            </if>
            <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parentOrgs)">
                AND T.PARENT_ORGS LIKE concat('%',#{parentOrgs,jdbcType=VARCHAR},'%')
            </if>
        </trim>
    </sql>
    <select id="selectList" resultMap="orgMap" parameterType="com.fsoft.core.common.QueryParam">
        <include refid="selectCols" />
        <include refid="queryWhere" />
        ORDER BY T.CREATE_TIME DESC
    </select>
    <select id="selectByKey" parameterType="java.lang.String" resultMap="orgMap">
        <include refid="selectCols" /> WHERE RWID = #{rwid,jdbcType=VARCHAR}
    </select>
    <select id="selectByCode" parameterType="java.lang.String" resultMap="orgMap">
        <include refid="selectCols" /> WHERE ORG_CODE = #{orgCode,jdbcType=VARCHAR}
    </select>

    <update id="update" parameterType="com.fsoft.core.org.entity.SysOrganize">
        UPDATE SYS_ORGANIZE
        <trim prefix="SET" suffixOverrides=",">
            <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(orgCode)">
                ORG_CODE = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(orgName)">
                ORG_NAME = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parentOrgId)">
                PARENT_ORG_ID=#{parentOrgId,jdbcType=VARCHAR},
            </if>
            <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parentOrgs)">
                PARENT_ORGS = #{parentOrgs,jdbcType=VARCHAR},
            </if>
            MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
        </trim>
        WHERE RWID= #{rwid,jdbcType=VARCHAR}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM SYS_ORGANIZE WHERE RWID = #{value}
    </delete>
</mapper>