<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsoft.core.org.mapper.SysOrganizeMapper">
  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap type="com.fsoft.core.org.entity.SysOrganize" id="orgMap" extends="com.fsoft.core.common.base.BaseMapper.baseTreeMap">
    <id property="id" column="RWID" jdbcType="VARCHAR" />
    <result property="parentCode" column="PARENT_CODE" jdbcType="VARCHAR" />
    <result property="parentName" column="PARENT_NAME" jdbcType="VARCHAR" />
    <result property="parents" column="PARENTS" jdbcType="VARCHAR" />
    <result property="sortNo" column="SORT_NO" jdbcType="NUMERIC" />
  </resultMap>
  <insert id="insert" parameterType="com.fsoft.core.org.entity.SysOrganize">
    INSERT INTO SYS_ORGANIZE (RWID,STD_CODE,STD_NAME,PARENT_ID,PARENTS,SORT_NO,STATUS,CREATE_USER_ID,CREATE_TIME)
    VALUES(
    #{id,jdbcType=VARCHAR},
    #{code,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{parentId,jdbcType=VARCHAR},
    #{parents,jdbcType=VARCHAR},
    #{sortNo,jdbcType=NUMERIC},
    #{status,jdbcType=NUMERIC},
    #{createUserId,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <sql id="selectCols">
    SELECT T.RWID,
    T.STD_CODE,
    T.STD_NAME,
    P.STD_CODE AS PARENT_CODE,
    P.STD_NAME AS PARENT_NAME,
    T.PARENT_ID,
    T.PARENTS,
    T.SORT_NO,
    T.STATUS,
    T.CREATE_USER_ID,
    T.CREATE_TIME,
    T.MODIFY_USER_ID,
    T.MODIFY_TIME
    FROM SYS_ORGANIZE T
    LEFT JOIN SYS_ORGANIZE P ON P.RWID = T.PARENT_ID
  </sql>
  <sql id="queryWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(code)">
        AND T.STD_CODE LIKE concat('%',concat(#{code,jdbcType=VARCHAR},'%'))
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(name)">
        AND T.STD_NAME LIKE concat('%',concat(#{name,jdbcType=VARCHAR},'%'))
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parentId)">
        AND T.PARENT_ID=#{parentId,jdbcType=VARCHAR}
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parents)">
        AND T.PARENTS LIKE concat('%',#{parents,jdbcType=VARCHAR},'%')
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(status)">
        AND T.STATUS = #{status,jdbcType=NUMERIC}
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(statusIn)">
        AND T.STATUS IN (${statusIn})
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(statusNotIn)">
        AND T.STATUS NOT IN (${statusNotIn})
      </if>
    </trim>
  </sql>
  <select id="selectList" resultMap="orgMap" parameterType="com.fsoft.core.common.QueryParam">
    <include refid="selectCols" />
    <include refid="queryWhere" />
    ORDER BY T.SORT_NO ASC,T.STD_CODE ASC
  </select>
  <select id="selectByKey" parameterType="java.lang.String" resultMap="orgMap">
    <include refid="selectCols" /> WHERE T.RWID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCode" parameterType="java.lang.String" resultMap="orgMap">
    <include refid="selectCols" /> WHERE T.STD_CODE = #{code,jdbcType=VARCHAR}
  </select>

  <update id="update" parameterType="com.fsoft.core.org.entity.SysOrganize">
    UPDATE SYS_ORGANIZE
    <trim prefix="SET" suffixOverrides=",">
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(code)">
        STD_CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(name)">
        STD_NAME = #{name,jdbcType=VARCHAR},
      </if>
      <choose>
        <when test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parentId)">
          PARENT_ID=#{parentId,jdbcType=VARCHAR},
        </when>
        <otherwise>
          PARENT_ID=null,
        </otherwise>
      </choose>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parents)">
        PARENTS = #{parents,jdbcType=VARCHAR},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(sortNo)">
        SORT_NO = #{sortNo,jdbcType=NUMERIC},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(status)">
        STATUS = #{status,jdbcType=NUMERIC},
      </if>
      MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
    </trim>
    WHERE RWID= #{id,jdbcType=VARCHAR}
  </update>
  <delete id="delete" parameterType="java.lang.String">
    DELETE FROM SYS_ORGANIZE WHERE RWID = #{value}
  </delete>
</mapper>