<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启驼峰命名规则的自动映射 -->
        <!-- 如此一来似乎就可以省略 Mapper.xml 中通过 resultMap 去手动匹配属性及列名的那一部分，具体效果有待验证 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="cacheEnabled" value="true" />
        <!--设置但JDBC类型为空时,某些驱动程序 要指定值,default:OTHER -->
        <setting name="jdbcTypeForNull" value="NULL" />
        <!-- 指定 MyBatis 所用日志的具体实现 -->
        <!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->
    </settings>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql" />
        </plugin>
    </plugins>
</configuration>
