<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fsoft.manager.area.mapper.SysAreaMapper">
  <resultMap id="ResultMap" type="com.fsoft.manager.area.entity.SysArea" extends="com.fsoft.core.common.base.BaseMapper.baseTreeMap">
    <result property="parentCode" column="PARENT_CODE" jdbcType="VARCHAR" />
    <result property="parentName" column="PARENT_NAME" jdbcType="VARCHAR" /> 
    <result property="postCode" column="post_code" jdbcType="VARCHAR" />
    <result property="areaCode" column="AREA_CODE" jdbcType="VARCHAR" />
    <result property="sortNo" column="SORT_NO" jdbcType="DECIMAL" />
    <result property="isCity" column="IS_CITY" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="selectCols">
    SELECT A.RWID,
           A.STD_CODE,
           A.STD_NAME,
           A.PARENT_ID,
           P.STD_CODE       AS PARENT_CODE,
           P.STD_NAME       AS PARENT_NAME,
           A.PARENTS,
           A.IS_CITY,
           A.POST_CODE,
           A.AREA_CODE,
           A.STATUS,
           A.SORT_NO,
           A.CREATE_USER_ID,
           CU.LOGIN_ACCT    AS CREATE_USER_CODE,
           CU.USER_NAME     AS CREATE_USER_NAME,
           A.CREATE_TIME,
           A.MODIFY_USER_ID,
           MU.LOGIN_ACCT    AS MODIFY_USER_CODE,
           MU.USER_NAME     AS MODIFY_USER_NAME,
           A.MODIFY_TIME
      FROM SYS_AREA A
      LEFT JOIN SYS_AREA P    ON A.PARENT_ID = P.RWID
      LEFT JOIN SYS_USER CU   ON A.CREATE_USER_ID = CU.RWID
      LEFT JOIN SYS_USER MU   ON A.CREATE_USER_ID = MU.RWID
  </sql>
  <sql id="queryWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(code)">
        AND A.STD_CODE LIKE CONCAT('%',#{code},'%')
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(name)">
        AND A.STD_NAME LIKE CONCAT('%',#{name},'%')
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parentId)">
        AND A.PARENT_ID = #{parentAreaId,jdbcType=VARCHAR}
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parents)">
        AND A.PARENTS like concat('%',#{parents},'%')
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(status)">
        AND A.STATUS =#{status,jdbcType=DECIMAL}
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(postCode)">
        AND A.POST_CODE LIKE CONCAT('%',CONCAT(#{postCode},'%'))
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(areaCode)">
        AND A.AREA_CODE LIKE CONCAT('%',CONCAT(#{areaCode},'%'))
      </if>
    </trim>
  </sql>
  <select id="selectByKey" parameterType="java.lang.String" resultMap="ResultMap">
    <include refid="selectCols" /> WHERE A.RWID = #{value,jdbcType=VARCHAR}
  </select>
  <select id="selectList" parameterType="com.fsoft.core.common.QueryParam" resultMap="ResultMap">
    <include refid="selectCols" />
    <include refid="queryWhere" />
    ORDER BY A.SORT_NO ASC ,A.AREA_CODE ASC
  </select>
  <insert id="insert" parameterType="com.fsoft.manager.area.entity.SysArea">
    INSERT INTO SYS_AREA
      (RWID,STD_CODE,STD_NAME,PARENT_ID,PARENTS,IS_CITY,AREA_CODE,POST_CODE,STATUS,SORT_NO,CREATE_USER_ID,CREATE_TIME)
    VALUES
      (#{id,jdbcType=VARCHAR},
       #{code,jdbcType=VARCHAR},
       #{name,jdbcType=VARCHAR},
       #{parentId,jdbcType=VARCHAR},
       #{parents,jdbcType=VARCHAR},
       #{isCity,jdbcType=DECIMAL},
       #{areaCode,jdbcType=VARCHAR},
       #{postCode,jdbcType=VARCHAR},
       #{status,jdbcType=DECIMAL},
       #{sortNo,jdbcType=DECIMAL},
       #{createUserId,jdbcType=VARCHAR},
       #{createTime,jdbcType=TIMESTAMP})

  </insert>

  <update id="update" parameterType="com.fsoft.manager.area.entity.SysArea">
    UPDATE SYS_AREA
    <trim prefix="SET" suffixOverrides=",">
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(code)">
        STD_CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(name)">
        STD_NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parentId)">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(parents)">
        PARENTS = #{parents,jdbcType=VARCHAR},
      </if>
       <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(areaCode)">
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(postCode)">
        POST_CODE = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(sortNo)">
        SORT_NO = #{sortNo,jdbcType=NUMERIC},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(isCity)">
        IS_CITY = #{isCity,jdbcType=NUMERIC},
      </if>
      <if test="@com.fsoft.core.utils.OgnlUtils@isNotEmpty(status)">
        status = #{status,jdbcType=NUMERIC},
      </if>
      MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
    </trim>
    WHERE RWID = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="delete" parameterType="java.lang.String">
    DELETE FROM SYS_AREA WHERE RWID = #{value,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteBatch" parameterType="java.util.List">
    delete from SYS_AREA where RWID in
    <foreach item="val" collection="array" open="(" separator="," close=")">
      #{val,jdbcType=VARCHAR}
    </foreach>
  </delete>

</mapper>